.load-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50; /* Green */
  color: white;
  border: 2px solid #4caf50;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin: auto;
  display: block;
}

.load-button:hover {
  background-color: #45a049; /* Darker Green */
  border-color: #45a049;
}

.load-button:active {
  background-color: #3e8e41; /* Darker Darker Green */
  border-color: #3e8e41;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
}
main {
  width: 1300px;
  margin: auto;
}
